<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/connect/twitter"><span class="glyphicon glyphicon-eye-open"
                                                                  aria-hidden="true"></span> Twitter Thing</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="home"><a href="/connect/twitter">Home</a></li>
            <li><a id="view-stream" href="/twitter-stream">Twitter Stream</a></li>
            <li><a id="search" href="/twitter-search">Twitter Search</a></li>
        </ul>
    </div>
</nav>