<div class="twitter-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <header th:if="${hasAuth}" class="twitter-drawer-header">
        <img src="./images/user.jpg" class="twitter-avatar">
        <div class="twitter-avatar-dropdown">
            <span>//TODO add username here</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item"><i class="material-icons">minus</i>Sign out</li>
            </ul>
        </div>
    </header>
    <nav class="twitter-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                   role="presentation">home</i>Home</a>
        <a class="mdl-navigation__link" href="/twitter-search/"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                   role="presentation">search</i>Twitter Search</a>
        <a class="mdl-navigation__link" href="/twitter-stream"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                   role="presentation">location_on</i>Twitter Stream</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="https://github.com/WeberCS4230/Twitter-Thing"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                   role="presentation">help_outline</i><span
                class="visuallyhidden">Help</span></a>
    </nav>
</div>
