<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons dp48">assessment</i>Twitter-Thing</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/stream">Stream Demo</a></li>
            <li><a href="/">Tweet Search Demo</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/stream">Stream Demo</a></li>
            <li><a href="/">Tweet Search Demo</a></li>
        </ul>
    </div>
</nav>