<div th:if="${isStreaming}" class="mdl-shadow--12dp mdl-color--white mdl-cell mdl-cell--12-col" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <button id="stop-stream-button"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect"
                        onclick="disconnect()">
                    Stop Stream
                </button>
                <button id="start-stream-button"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect"
                        onclick="connect('/stream-socket')">
                    Start Stream
                </button>
                <i id="stream-spinner" class="mdl-spinner mdl-js-spinner is-active"></i>
            </div>
        </div>
        <div class="col-xs-8">
            <div id="map"></div>
        </div>
        <div class="col-xs-4">
            <h3>Tweets</h3>
            <ul class="mdl-list" id="tweet-content"></ul>
        </div>
    </div>
</div>