<div th:if="${isStreaming}" class="mdl-shadow--12dp mdl-color--white mdl-cell mdl-cell--12-col" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect"
                        onclick="useLocation()">
                    Get Location
                </button>
                <button id="stop-stream-button"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect"
                        onclick="disconnect()">
                    Stop Stream
                </button>
                <button id="start-stream-button"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect"
                        onclick="connect('/stream-socket')">
                    Start Stream
                </button>
                <i id="stream-spinner" class="mdl-spinner mdl-js-spinner is-active"></i>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div class="row">
        <p th:text="${tweetCount}"></p>
        <ul class="mdl-list" id="tweet-content">
        </ul>
    </div>
</div>