<div th:if="${isStreaming}" class="mdl-shadow--12dp mdl-color--white mdl-cell mdl-cell--12-col" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <button id="stop-stream-button"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect"
                        onclick="disconnect()">
                    <i class="material-icons" role="presentation">pause_circle_filled</i>
                    Stop Stream
                </button>

                <button id="start-stream-button"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                        onclick="connect('/stream-socket')">
                    <i class="material-icons" role="presentation">play_circle_filled</i>
                    Start Stream
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-shadow--16dp mdl-color--white mdl-cell mdl-cell--12-col full-width full-height">
        <div id="stream-spinner" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div id="map"></div>
    </div>
</div>