<div th:if="${isSearching}" class="mdl-shadow--12dp mdl-color--white mdl-cell mdl-cell--12-col" xmlns:th="http://www.w3.org/1999/xhtml">
    <p class="mdl-layout-title">Showing related #beerPong tweets:</p>
    <input id="search" placeholder="enter a search term"/>
    <button class="mdl-button" onclick="search()"/>
    <ul class="mdl-list" id="tweet-content">
        <li th:each="tweet:${tweets}" class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                  <img th:src="${tweet.user.profileImageUrl}" class="img-circle" style="width:48px;height:48px;">
                  <span><a th:href="${tweet.user.profileUrl}" th:text="${tweet.fromUser}"></a></span>
                  <span class="mdl-list__item-text-body" th:text="${tweet.text}"></span>
                </span>
        </li>
    </ul>
</div>



