<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header/libs">...</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header th:replace="header/header">...</header>
    <div th:replace="header/sidebar">...</div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div th:replace="/twitterStream/stream">stream</div>
        <div th:replace="/twitterSearch/search">search</div>
    </main>
</div>
</body>
</html>
