<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header/libs">...</head>
<body>
<nav th:replace="header/header">...</nav>
<div class="container" id="main-content">
    <div class="jumbotron">

        <h3>Connect to Twitter</h3>
        <span th:if="${social_provider_error}">Provider error (maybe you need to configure the app id and secret?)</span>
        <form action="/connect/twitter" method="POST">
            <div class="formInfo">
                <p>You aren't connected to Twitter yet. Click the button to connect this application with your Twitter
                    account.</p>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Connect To Twitter</button>
        </form>
    </div>
</div>
</body>
</html>
