<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/header/libs">...</head>
<body>
<nav th:replace="/header/header">...</nav>
<div class="container" id="main-content">
    <div class="jumbotron">
        <h3>Twitter account successfully authenticated</h3>
        <h4>
             <a href="/twitter-search">Search Twitter for <b>#beerpong</b></a>
        </h4>
        <h4>
             <a href="/twitter-stream">Stream Tweets based on <b>location</b></a>
        </h4>
    </div>
</div>
</body>
</html>